/* Hover on homepage posts */

.wp-block-image{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.wp-block-image:hover{
    transform: scale(1.05); 
}

/* Hover on posts on post page */

.wp-block-post{
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.wp-block-post:hover{
    transform: scale(1.02); 
    cursor: pointer;
}