/* Styles for Wordpress Blocks not involved with WooCommerce */


/* Hover effect on images in posts on the homepage */
.wp-block-image {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover state for homepage images */
.wp-block-image:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Hover effect on posts in the post page */
.wp-block-post {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover state for post blocks */
.wp-block-post:hover {
    transform: scale(1.02);
    cursor: pointer;
}